Django==3.0.4
djangorestframework==3.11.0
markdown==3.2.1
django-filter
django-environ
gunicorn==19.9.0
certifi
urllib3
requests
django-cors-headers
# Added on Aug 17,2020 -- To apply Django Q
django-q
redis
# Added on Aug 26,2020 -- To post payment notice to ePayment
requests